/*

div{
    width: 250px;
    height: 250px;
    background-color: chartreuse;
}
p{
    color: purple;
}
-->
.caja{
    width: 150px;
    height: 150px;
    background-color:  rgb(10,100,50);
}
.otra_caja{
    width: 150px;
    height: 150px;
    background-color: rgba(0, 255, 255, 0.6);
}
.una_caja_mas{
    width: 150px;
    height: 150px;
    background-color: #e11e70;
}
.una_caja_mas{
    width: 150px;
    height: 150px;
    background-color: #e11e70;
}
.capibara{
    width: 150px;
    height: 150px;
    background-color:hsl(0, 100%, 50%);
}
*{
    color: chartreuse;
    font-weight: bolder;
}
#soy_unico{
    width: 250px;
    height: 50px;
    background-color: sandybrown;
}
button:hover{
    background-color: #e11e70;
    color:aqua 
}

input:disabled{
    background-color: black;
}

p::first-letter{
    color: gold;
    font-size: 45px;
}

.capibara_1, .capibara_2, .capibara_3{
    width: 150px;
    height: 150px;
    background-color: violet;
}

.padre p{
    color:maroon;
}
*/

p#unico.foo.bar
{
    color: greenyellow !important ;
}
p#unico.foo.baz{
    color: purple;
}

.main {
    color: rebeccapurple;
    border: 2px solid #ccc;
    padding: 1em;
}

.special {
    color: black;
    font-weight: bold;
}

.rectangulo {
    width: 450px;
    height: 250px;
    background-color: blue;
}
.caja {
    width: 50%;
    height: 250px;
    background-color: cornflowerblue;
}


.padre {
    width: 50%;
    height: 250px;
    background-color: magenta;
}
.hijo {
    width: 50%;
    height: 50%;
    background-color: moccasin;
}
.hijo p{
    font-size:large;
}



body{
    margin:0;
}


div{
    
    width: 250px;
    height: 250px;
    background-color: moccasin;

    /*
    padding-right: 25 px;
    padding-left: 25 px;
    padding-top: 25 px;
    padding-bottom: 25px;
*/
    padding: 70px;

    border: 40px solid deeppink;
    margin: 50px;
/*
    border-left: 40px solid springgreen;
    border-right: 40px solid springgreen;
    border-top: 40px solid springgreen;
    border-bottom: 40px solid springgreen;
*/
}